/* You can add global styles to this file, and also import other style files */

@import "theme.css";

* {
  font-family: 'Poiret One', cursive;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: #F0F4F5;
}

.txtValue {
  color: #A92222;
}

section {
  text-align: center;
}


