<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="formLinkBox" (click)="goMaterialForm()">
        <h3>Angular Material Form</h3>
        <p>template driven form</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="formLinkBox" (click)="goSignUp()">
        <h3>Sign Up Form</h3>
        <p>template driven form</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="formLinkBox" (click)="goSignUp2()">
        <h3>Sign Up Form 2</h3>
        <p>reactive form</p>
      </div>
    </div>
  </div>
</div>
