<main>

  <section id="sources">
    <p>Sources:</p>
    <p class="txtSmall">
      <a target="_blank" href="https://www.slideshare.net/mbaker1960/how-to-calculate-a-mortgage-payment">
        slideshare.net
      </a>
      &nbsp; - How To Calculate A Mortgage Payment
    </p>
    <p class="txtSmall">
      <a target="_blank" href="https://www.thebalance.com/loan-payment-calculations-315564">
        thebalance.com
      </a>
      &nbsp; - Calculate Loan Payments & Costs: Formulas and Tools
    </p>
    <p class="txtSmall">
      <a target="_blank" href="http://www.calculator.net/payment-calculator.html">
        calculator.net
      </a>
      &nbsp; - Payment Calculator
    </p>
  </section>

</main>

