<main>

  <section id="sources">

    <div class="centered">
      <h2>Sources</h2>
    </div>

    <div class="left">
      <p>
        <a target="_blank" href="https://www.slideshare.net/mbaker1960/how-to-calculate-a-mortgage-payment">
          slideshare.net
        </a>
      </p>
      <p>
        <a target="_blank" href="https://www.thebalance.com/loan-payment-calculations-315564">
          thebalance.com
        </a>
      </p>
      <p>
        <a target="_blank" href="http://www.calculator.net/payment-calculator.html">
          calculator.net
        </a>
      </p>
    </div>
    <div class="right">
      <p>
        How To Calculate A Mortgage Payment
      </p>
      <p>

        Calculate Loan Payments & Costs: Formulas and Tools
      </p>
      <p>
        Payment Calculator
      </p>
    </div>
  </section>

</main>

