<div class="panel panel-primary container-fluid">
  <div class="panel-heading">
    <h2>Sign Up Reactive</h2>
  </div>

  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="signupForm">
      <fieldset>

        <!--FIRST NAME-->
        <div class="form-group row"
             [ngClass]="{'has-error': (signupForm.get('firstName').touched || signupForm.get('firstName').dirty) && !signupForm.get('firstName').valid }">
          <div class="col-md-3">
            <label class="control-label" for="firstNameId">First Name *</label>
          </div>
          <div class="col-md-9">
            <input class="form-control"
                   id="firstNameId"
                   type="text"
                   placeholder="First Name"
                   formControlName="firstName"/>
            <div
              class="help-block animated fadeIn"
              *ngIf="(signupForm.get('firstName').touched || signupForm.get('firstName').dirty) && signupForm.get('firstName').errors">
              <span *ngIf="signupForm.get('firstName').errors.required">
                  Please enter your first name.
              </span>
              <span *ngIf="signupForm.get('firstName').errors.minlength">
                  The first name must be longer than 3 characters.
              </span>
            </div>
          </div>
        </div>

        <!--LAST NAME-->
        <div class="form-group row"
             [ngClass]="{'has-error': (
             signupForm.get('lastName').touched ||
             signupForm.get('lastName').dirty) &&
             !signupForm.get('lastName').valid
             }">
          <div class="col-md-3">
            <label class="control-label" for="lastNameId">Last Name *</label>
          </div>
          <div class="col-md-9">
            <input class="form-control"
                   id="lastNameId"
                   type="text"
                   placeholder="Last Name"
                   formControlName="lastName"/>
            <div
              class="help-block animated fadeIn"
              *ngIf="(signupForm.get('lastName').touched || signupForm.get('lastName').dirty) && signupForm.get('lastName').errors">
              <span *ngIf="signupForm.get('lastName').errors.required">
                  Please enter your last name.
              </span>
            </div>
          </div>
        </div>

        <!--EMAIL GROUP-->
        <div formGroupName="emailGroup" [ngClass]="{'has-error': signupForm.get('emailGroup').errors}">

          <!--EMAIL-->
          <div class="form-group row"
               [ngClass]="{'has-error': (
               signupForm.get('emailGroup.email').touched ||
               signupForm.get('emailGroup.email').dirty) &&
               !signupForm.get('emailGroup.email').valid }">
            <div class="col-md-3">
              <label class="control-label" for="emailId">Email *</label>
            </div>
            <div class="col-md-9">
              <input class="form-control"
                     id="emailId"
                     type="email"
                     placeholder="Email"
                     formControlName="email"/>
              <div
                class="help-block animated fadeIn"
                *ngIf="
                (signupForm.get('emailGroup.email').touched || signupForm.get('emailGroup.email').dirty) &&
                signupForm.get('emailGroup.email').errors">
              <span *ngIf="signupForm.get('emailGroup.email').errors.required">
                  Please enter your email address.
              </span>
                <span *ngIf="signupForm.get('emailGroup.email').errors.pattern">
                  Please enter a valid email address.
              </span>

                <!-- This one does not work -->
                <span *ngIf="signupForm.get('emailGroup.email').errors.email">
                  Please enter a valid email address.
              </span>
              </div>
            </div>
          </div>

          <!--EMAIL CONFIRMATION-->
          <div class="form-group row"
               [ngClass]="{'has-error': (
             signupForm.get('emailGroup.confirmEmail').touched ||
             signupForm.get('emailGroup.confirmEmail').dirty) && !
             signupForm.get('emailGroup.confirmEmail').valid
             }">
            <div class="col-md-3">
              <label class="control-label" for="confirmEmailId">Confirm Email *</label>
            </div>
            <div class="col-md-9">
              <input class="form-control"
                     id="confirmEmailId"
                     type="email"
                     placeholder="Confirm Email"
                     formControlName="confirmEmail"/>
              <div
                class="help-block animated fadeIn"
                *ngIf="
              (signupForm.get('emailGroup.confirmEmail').touched || signupForm.get('emailGroup.confirmEmail').dirty) &&
              (signupForm.get('emailGroup.confirmEmail').errors || signupForm.get('emailGroup').errors)">
              <span *ngIf="signupForm.get('emailGroup.confirmEmail').errors?.required">
                  Please confirm your email address.
              </span>
                <span *ngIf="signupForm.get('emailGroup').errors?.match">
                  The confirmation does not match the email address.
                </span>
              </div>
            </div>
          </div>
        </div>


        <!--PHONE-->
        <div class="form-group row"
             [ngClass]="{'has-error': (signupForm.get('phone').touched || signupForm.get('phone').dirty) && !signupForm.get('phone').valid }">
          <div class="col-md-3">
            <label class="control-label" for="phoneId">Phone <span id="phoneRequired" class=""></span></label>
          </div>
          <div class="col-md-9">
            <input class="form-control"
                   id="phoneId"
                   type="tel"
                   placeholder="Phone"
                   formControlName="phone"/>
            <div
              class="help-block animated fadeIn"
              *ngIf="(signupForm.get('phone').touched || signupForm.get('phone').dirty) && signupForm.get('phone').errors">
              <span *ngIf="signupForm.get('phone').errors.required">
                  Please enter your phone number.
              </span>
              <span *ngIf="signupForm.get('phone').errors.pattern">
                  Please enter a valid phone number.
              </span>
            </div>
          </div>
        </div>

        <!--DATES-->
        <div class="row" formGroupName="availability" [ngClass]="{'has-error': signupForm.get('availability').errors}">

          <div class="col-md-3">
            <label class="control-label" for="startDateId">Availability *</label>
          </div>
          <div class="form-group col-md-4">

            <input class="form-control"
                   id="startDateId"
                   type="date"
                   placeholder="Start"
                   formControlName="start"/>
            <div
              class="help-block animated fadeIn"
              *ngIf="(
                signupForm.get('availability.start').touched ||
                signupForm.get('availability.start').dirty) &&
                signupForm.get('availability.start').errors">
              <span *ngIf="signupForm.get('availability.start').errors.required">
                  Please enter the start date.
              </span>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-4">

            <input class="form-control"
                   id="endDateId"
                   type="date"
                   placeholder="End"
                   formControlName="end"/>
            <div
              class="help-block animated fadeIn"
              *ngIf="
              (signupForm.get('availability.end').touched || signupForm.get('availability.end').dirty) &&
              (signupForm.get('availability.end').errors || signupForm.get('availability').errors?.required)">
              <span *ngIf="signupForm.get('availability.end').errors.required">
                  Please enter the end date.
              </span>
              <span *ngIf="signupForm.get('availability').errors?.match">
                  The end date cannot be set prior to the start date.
                </span>
            </div>
          </div>

        </div>


        <!--NOTIFICATIONS-->
        <div class="form-group row">
          <label class="col-md-3 control-label">Notifications</label>
          <div class="col-md-9">
            <label class="radio-inline">
              <input type="radio"
                     value="email"
                     formControlName="notification"
                     (click)="setNotification('email')">Email
            </label>
            <label class="radio-inline">
              <input type="radio"
                     value="text"
                     formControlName="notification"
                     (click)="setNotification('text')">Text
            </label>
          </div>
        </div>

        <!--RATING-->
        <div class="form-group row"
             [class.has-error]="(signupForm.get('rating').touched || signupForm.get('rating').dirty) && !signupForm.get('rating').valid ">
          <label class="col-md-3 control-label" for="ratingId">Rating</label>

          <div class="col-md-9">
            <input class="form-control"
                   id="ratingId"
                   type="number"
                   formControlName="rating"/>
            <div class="help-block animated fadeIn"
                 *ngIf="(signupForm.get('rating').touched || signupForm.get('rating').dirty) && signupForm.get('rating').errors">
               <span *ngIf="signupForm.get('rating').errors.range">
                  Please rate your experience from 1 to 5.
               </span>
            </div>
          </div>
        </div>

        <!--SEND CATALOG-->
        <div class="form-group row">
          <div class="col-md-12 checkbox">
            <label>
              <input id="sendCatalogId"
                     type="checkbox"
                     formControlName="sendCatalog">
              Send me your catalog
            </label>
          </div>
        </div>

        <!--<div *ngIf="customer.sendCatalog" class="animated fadeIn">-->

        <!--&lt;!&ndash;ADDRESS TYPE&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label">Address Type</label>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" id="addressType1Id" value="home"-->
        <!--[(ngModel)]="customer.addressType"-->
        <!--name="addressType">Home-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" id="addressType2Id" value="work"-->
        <!--[(ngModel)]="customer.addressType"-->
        <!--name="addressType">Work-->
        <!--</label>-->
        <!--<label class="radio-inline">-->
        <!--<input type="radio" id="addressType3Id" value="other"-->
        <!--[(ngModel)]="customer.addressType"-->
        <!--name="addressType">Other-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;ADDRESS 1&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label" for="street1Id">Address 1</label>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <!--<input type="text"-->
        <!--class="form-control"-->
        <!--id="street1Id"-->
        <!--placeholder="Street address"-->
        <!--[(ngModel)]="customer.street1"-->
        <!--name="street1">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;ADDRESS 2&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label" for="street2Id">Address 2</label>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <!--<input type="text"-->
        <!--class="form-control"-->
        <!--id="street2Id"-->
        <!--placeholder="Street address (second line)"-->
        <!--[(ngModel)]="customer.street2"-->
        <!--name="street2">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;CITY&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label" for="cityId">City</label>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <!--<input type="text"-->
        <!--class="form-control"-->
        <!--id="cityId"-->
        <!--placeholder="City"-->
        <!--[(ngModel)]="customer.city"-->
        <!--name="city">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;COUNTY&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label" for="countyId">County</label>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <!--<select class="form-control"-->
        <!--id="countyId"-->
        <!--[(ngModel)]="customer.county"-->
        <!--name="county">-->
        <!--<option value="" disabled selected hidden>Select a County...</option>-->
        <!--<option *ngFor="let county of counties" [value]="county.code">{{county.name}}</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;POSTCODE&ndash;&gt;-->
        <!--<div class="form-group row">-->
        <!--<div class="col-md-3">-->
        <!--<label class="control-label" for="postcodeId">Postcode</label>-->
        <!--</div>-->

        <!--<div class="col-md-4 col-md-offset-5">-->
        <!--<input type="number"-->
        <!--class="form-control"-->
        <!--id="postcodeId"-->
        <!--placeholder="Postcode"-->
        <!--[(ngModel)]="customer.postcode"-->
        <!--name="postcode">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="!signupForm.valid">
              Save
            </button>
          </div>
        </div>

        <!--TEST setValue!!!-->
        <div class="form-group row extra-buttons">

          <!--TEST setValue!!!-->
          <div class="col-md-4 align-right">
            <button class="btn btn-default btn-120"
                    type="button"
                    (click)="setValue()">
              Set Values
            </button>
          </div>

          <!--TEST patchValue!!!-->
          <div class="col-md-4 align-center">
            <button class="btn btn-default btn-120"
                    type="button"
                    (click)="patchValue()">
              Patch Values
            </button>
          </div>

          <!--setValueInit!!!-->
          <div class="col-md-4">
            <button class="btn btn-default btn-120"
                    type="button"
                    (click)="setValuesInit()">
              Clear
            </button>
          </div>
        </div>


      </fieldset>
    </form>
  </div>
</div>
